# Data Cleaning

### Import libraries

In [42]:
import pandas as pd
import numpy as np

### Load the raw data ready for cleaning

In [43]:
df = pd.read_csv('../data/climate-agriculture.csv')
df.head()

,Year,Country,Region,Crop_Type,Average_Temperature_C,Total_Precipitation_mm,CO2_Emissions_MT,Crop_Yield_MT_per_HA,Extreme_Weather_Events,Irrigation_Access_%,Pesticide_Use_KG_per_HA,Fertilizer_Use_KG_per_HA,Soil_Health_Index,Adaptation_Strategies,Economic_Impact_Million_USD
0,2001,India,West Bengal,Corn,1.55,447.06,15.22,1.737,8,14.54,10.08,14.78,83.25,Water Management,808.13
1,2024,China,North,Corn,3.23,2913.57,29.82,1.737,8,11.05,33.06,23.25,54.02,Crop Rotation,616.22
2,2001,France,Ile-de-France,Wheat,21.11,1301.74,25.75,1.719,5,84.42,27.41,65.53,67.78,Water Management,796.96
3,2001,Canada,Prairies,Coffee,27.85,1154.36,13.91,3.890,5,94.06,14.38,87.58,91.39,No Adaptation,790.32
4,1998,India,Tamil Nadu,Sugarcane,2.19,1627.48,11.81,1.080,9,95.75,44.35,88.08,49.61,Crop Rotation,401.72

### Check the shape of the data

In [44]:
df.shape

(10000, 15)

As we can see there are 10,000 rows and 15 columns, this might be small enough to not encounter any problems, however to be safe I will sample to 9000 rows.

In [45]:
df = df.sample(n=9000, random_state=42)

#### Checking the shape again to confirm the sampling

In [46]:
df.shape

(9000, 15)

The data has been successfully sampled.

### Checking the the data set again

In [47]:
df.head()

,Year,Country,Region,Crop_Type,Average_Temperature_C,Total_Precipitation_mm,CO2_Emissions_MT,Crop_Yield_MT_per_HA,Extreme_Weather_Events,Irrigation_Access_%,Pesticide_Use_KG_per_HA,Fertilizer_Use_KG_per_HA,Soil_Health_Index,Adaptation_Strategies,Economic_Impact_Million_USD
6252,2001,Brazil,Southeast,Rice,2.64,514.15,21.96,0.639,4,15.95,25.39,42.58,85.01,Drought-resistant Crops,116.07
4684,1995,India,Punjab,Vegetables,13.98,1940.83,6.11,4.100,6,74.79,33.24,74.95,96.05,Drought-resistant Crops,1026.14
1731,1996,Brazil,South,Rice,34.76,247.44,8.42,2.520,2,52.69,6.56,10.86,56.99,Water Management,837.28
4742,1994,China,Central,Corn,19.10,2042.70,4.88,1.520,8,93.98,42.48,52.78,65.33,No Adaptation,369.90
4521,2018,Nigeria,North Central,Vegetables,-2.34,2716.87,23.37,1.593,6,22.09,41.06,8.44,99.04,Drought-resistant Crops,555.35

As we can see the index is not in the correct order.

### Reset the index

In [48]:
df.reset_index(drop=True, inplace=True)

#### Check to see if the index has been successfully reset

In [49]:
df.head()

,Year,Country,Region,Crop_Type,Average_Temperature_C,Total_Precipitation_mm,CO2_Emissions_MT,Crop_Yield_MT_per_HA,Extreme_Weather_Events,Irrigation_Access_%,Pesticide_Use_KG_per_HA,Fertilizer_Use_KG_per_HA,Soil_Health_Index,Adaptation_Strategies,Economic_Impact_Million_USD
0,2001,Brazil,Southeast,Rice,2.64,514.15,21.96,0.639,4,15.95,25.39,42.58,85.01,Drought-resistant Crops,116.07
1,1995,India,Punjab,Vegetables,13.98,1940.83,6.11,4.100,6,74.79,33.24,74.95,96.05,Drought-resistant Crops,1026.14
2,1996,Brazil,South,Rice,34.76,247.44,8.42,2.520,2,52.69,6.56,10.86,56.99,Water Management,837.28
3,1994,China,Central,Corn,19.10,2042.70,4.88,1.520,8,93.98,42.48,52.78,65.33,No Adaptation,369.90
4,2018,Nigeria,North Central,Vegetables,-2.34,2716.87,23.37,1.593,6,22.09,41.06,8.44,99.04,Drought-resistant Crops,555.35

The index has been successfully reset.

### Check for null values

In [50]:
df.isnull().sum()

Year                           0
Country                        0
Region                         0
Crop_Type                      0
Average_Temperature_C          0
Total_Precipitation_mm         0
CO2_Emissions_MT               0
Crop_Yield_MT_per_HA           0
Extreme_Weather_Events         0
Irrigation_Access_%            0
Pesticide_Use_KG_per_HA        0
Fertilizer_Use_KG_per_HA       0
Soil_Health_Index              0
Adaptation_Strategies          0
Economic_Impact_Million_USD    0
dtype: int64

There are no null values to remove or fill.

### Check the data types

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         9000 non-null   int64
 1   Country                      9000 non-null   object
 2   Region                       9000 non-null   object
 3   Crop_Type                    9000 non-null   object
 4   Average_Temperature_C        9000 non-null   float64
 5   Total_Precipitation_mm       9000 non-null   float64
 6   CO2_Emissions_MT             9000 non-null   float64
 7   Crop_Yield_MT_per_HA         9000 non-null   float64
 8   Extreme_Weather_Events       9000 non-null   int64
 9   Irrigation_Access_%          9000 non-null   float64
 10  Pesticide_Use_KG_per_HA      9000 non-null   float64
 11  Fertilizer_Use_KG_per_HA     9000 non-null   float64
 12  Soil_Health_Index            9000 non-null   float64
 13  Adaptation_Strategies        9000 non-null   object
 14  Economic_Impact_Million_USD  9000 non-null   float64
dtypes: float64(9), int64(2), object(4)
memory usage: 1.0+ MB

Most of the data types line up to what we would expect, however the Year column should be changed to date format.

#### Convert year to date format

In [52]:
df['Year'] = pd.to_datetime(df['Year'], format='%Y')

#### Check the data types again

In [53]:
df.dtypes

Year                           datetime64[ns]
Country                                object
Region                                 object
Crop_Type                              object
Average_Temperature_C                 float64
Total_Precipitation_mm                float64
CO2_Emissions_MT                      float64
Crop_Yield_MT_per_HA                  float64
Extreme_Weather_Events                  int64
Irrigation_Access_%                   float64
Pesticide_Use_KG_per_HA               float64
Fertilizer_Use_KG_per_HA              float64
Soil_Health_Index                     float64
Adaptation_Strategies                  object
Economic_Impact_Million_USD           float64
dtype: object

'Year' has succesffully been changed to datetime64[ns].

### Let's check the head of the data set again

In [54]:
df.head()

,Year,Country,Region,Crop_Type,Average_Temperature_C,Total_Precipitation_mm,CO2_Emissions_MT,Crop_Yield_MT_per_HA,Extreme_Weather_Events,Irrigation_Access_%,Pesticide_Use_KG_per_HA,Fertilizer_Use_KG_per_HA,Soil_Health_Index,Adaptation_Strategies,Economic_Impact_Million_USD
0,2001-01-01,Brazil,Southeast,Rice,2.64,514.15,21.96,0.639,4,15.95,25.39,42.58,85.01,Drought-resistant Crops,116.07
1,1995-01-01,India,Punjab,Vegetables,13.98,1940.83,6.11,4.100,6,74.79,33.24,74.95,96.05,Drought-resistant Crops,1026.14
2,1996-01-01,Brazil,South,Rice,34.76,247.44,8.42,2.520,2,52.69,6.56,10.86,56.99,Water Management,837.28
3,1994-01-01,China,Central,Corn,19.10,2042.70,4.88,1.520,8,93.98,42.48,52.78,65.33,No Adaptation,369.90
4,2018-01-01,Nigeria,North Central,Vegetables,-2.34,2716.87,23.37,1.593,6,22.09,41.06,8.44,99.04,Drought-resistant Crops,555.35

There have been unintended consequences of converting to date time as every date is set to the 1st of January, rather than being the whole year as we would like.

### Convert 'Year' to only display 'Year'

In [55]:
#copilot code suggestion: Convert 'Year' to just the year
df['Year'] = df['Year'].dt.year

#### Check if it only displays 'Year'

In [56]:
df.head()

,Year,Country,Region,Crop_Type,Average_Temperature_C,Total_Precipitation_mm,CO2_Emissions_MT,Crop_Yield_MT_per_HA,Extreme_Weather_Events,Irrigation_Access_%,Pesticide_Use_KG_per_HA,Fertilizer_Use_KG_per_HA,Soil_Health_Index,Adaptation_Strategies,Economic_Impact_Million_USD
0,2001,Brazil,Southeast,Rice,2.64,514.15,21.96,0.639,4,15.95,25.39,42.58,85.01,Drought-resistant Crops,116.07
1,1995,India,Punjab,Vegetables,13.98,1940.83,6.11,4.100,6,74.79,33.24,74.95,96.05,Drought-resistant Crops,1026.14
2,1996,Brazil,South,Rice,34.76,247.44,8.42,2.520,2,52.69,6.56,10.86,56.99,Water Management,837.28
3,1994,China,Central,Corn,19.10,2042.70,4.88,1.520,8,93.98,42.48,52.78,65.33,No Adaptation,369.90
4,2018,Nigeria,North Central,Vegetables,-2.34,2716.87,23.37,1.593,6,22.09,41.06,8.44,99.04,Drought-resistant Crops,555.35

Only year is displayed, however we still need to check the data type to check if the code is running as expected.

### Check the data types again

In [57]:
df.dtypes

Year                             int32
Country                         object
Region                          object
Crop_Type                       object
Average_Temperature_C          float64
Total_Precipitation_mm         float64
CO2_Emissions_MT               float64
Crop_Yield_MT_per_HA           float64
Extreme_Weather_Events           int64
Irrigation_Access_%            float64
Pesticide_Use_KG_per_HA        float64
Fertilizer_Use_KG_per_HA       float64
Soil_Health_Index              float64
Adaptation_Strategies           object
Economic_Impact_Million_USD    float64
dtype: object

It has not been successful and has switched back to a integer, however it is not int64 but rather 32 bit. This should be fine for our current dataset, however after some online investigations we discovered we could run into [problems in 2038](https://en.wikipedia.org/wiki/Year_2038_problem) with a 32 bit integer if other analysts decided to add full dates including months and days. So in order to future proof our work we will convert back to int64. Storing year as an integer should not impact the data analysis.

### Convert 'Year' back to int64

In [59]:
# convert 'Year' to be int64
df['Year'] = df['Year'].astype('int64')

#### Check the data types and df head again to confirm changes

In [61]:
df.dtypes

Year                             int64
Country                         object
Region                          object
Crop_Type                       object
Average_Temperature_C          float64
Total_Precipitation_mm         float64
CO2_Emissions_MT               float64
Crop_Yield_MT_per_HA           float64
Extreme_Weather_Events           int64
Irrigation_Access_%            float64
Pesticide_Use_KG_per_HA        float64
Fertilizer_Use_KG_per_HA       float64
Soil_Health_Index              float64
Adaptation_Strategies           object
Economic_Impact_Million_USD    float64
dtype: object

In [62]:
df.head(1)

,Year,Country,Region,Crop_Type,Average_Temperature_C,Total_Precipitation_mm,CO2_Emissions_MT,Crop_Yield_MT_per_HA,Extreme_Weather_Events,Irrigation_Access_%,Pesticide_Use_KG_per_HA,Fertilizer_Use_KG_per_HA,Soil_Health_Index,Adaptation_Strategies,Economic_Impact_Million_USD
0,2001,Brazil,Southeast,Rice,2.64,514.15,21.96,0.639,4,15.95,25.39,42.58,85.01,Drought-resistant Crops,116.07

The code has been successful and we can move on from the data types

### Check the object variables for any errors

#### Country

In [64]:
df['Country'].unique()

array(['Brazil', 'India', 'China', 'Nigeria', 'France', 'Australia',
       'Argentina', 'Russia', 'Canada', 'USA'], dtype=object)

There are no errors for the Country variable

#### Region

In [65]:
df['Region'].unique()

array(['Southeast', 'Punjab', 'South', 'Central', 'North Central',
       'Provence-Alpes-Cote d’Azur', 'Victoria', 'South East',
       'Northwest', 'New South Wales', 'Volga', 'Ile-de-France',
       'Tamil Nadu', 'Maharashtra', 'Patagonia', 'South West', 'Prairies',
       'Nouvelle-Aquitaine', 'Siberian', 'North', 'West Bengal', 'Pampas',
       'Quebec', 'Grand Est', 'Northeast', 'Queensland', 'North West',
       'Ontario', 'Midwest', 'British Columbia', 'Western Australia',
       'East', 'Northwestern', 'West'], dtype=object)

There are issues with some of the regions for example there is both 'Southeast' and 'South East' and 'Northwestern' and 'North West'.

#### Fix the Region names

In [66]:
df.replace({'Region':{'Southeast': 'South East', 'Northwestern': 'North West', 'Northwest': 'North West'}}, inplace=True)

#### Check the Region names again

In [67]:
df['Region'].unique()

array(['South East', 'Punjab', 'South', 'Central', 'North Central',
       'Provence-Alpes-Cote d’Azur', 'Victoria', 'North West',
       'New South Wales', 'Volga', 'Ile-de-France', 'Tamil Nadu',
       'Maharashtra', 'Patagonia', 'South West', 'Prairies',
       'Nouvelle-Aquitaine', 'Siberian', 'North', 'West Bengal', 'Pampas',
       'Quebec', 'Grand Est', 'Northeast', 'Queensland', 'Ontario',
       'Midwest', 'British Columbia', 'Western Australia', 'East', 'West'],
      dtype=object)

Region names have been cleaned.

#### Check the Crop Type names

In [68]:
df['Crop_Type'].unique()

array(['Rice', 'Vegetables', 'Corn', 'Barley', 'Coffee', 'Soybeans',
       'Wheat', 'Fruits', 'Cotton', 'Sugarcane'], dtype=object)

All crop names are correct.

#### Check Adaptation Strategies

In [70]:
df['Adaptation_Strategies'].unique()

array(['Drought-resistant Crops', 'Water Management', 'No Adaptation',
       'Crop Rotation', 'Organic Farming'], dtype=object)

Adaptation Strategies are all correct.