# Python Data Visualisations

This project features a full dashboard in Tableau, however we will create some initial visualisation in python for Exploratory Data Analysis (EDA).

### First import the required libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

### Load the clean data ready for visualisations

In [3]:
df = pd.read_csv('../data/clean-agriculturedata.csv')
df.head()

,Year,Country,Region,Crop_Type,Average_Temperature_C,Total_Precipitation_mm,CO2_Emissions_MT,Crop_Yield_MT_per_HA,Extreme_Weather_Events,Irrigation_Access_%,Pesticide_Use_KG_per_HA,Fertilizer_Use_KG_per_HA,Soil_Health_Index,Adaptation_Strategies,Economic_Impact_Million_USD
0,2001,Brazil,South East,Rice,2.64,514.15,21.96,0.639,4,15.95,25.39,42.58,85.01,Drought-resistant Crops,116.07
1,1995,India,Punjab,Vegetables,13.98,1940.83,6.11,4.100,6,74.79,33.24,74.95,96.05,Drought-resistant Crops,1026.14
2,1996,Brazil,South,Rice,34.76,247.44,8.42,2.520,2,52.69,6.56,10.86,56.99,Water Management,837.28
3,1994,China,Central,Corn,19.10,2042.70,4.88,1.520,8,93.98,42.48,52.78,65.33,No Adaptation,369.90
4,2018,Nigeria,North Central,Vegetables,-2.34,2716.87,23.37,1.593,6,22.09,41.06,8.44,99.04,Drought-resistant Crops,555.35

### Generate summary statistics for EDA

In [4]:
df.describe()

,Year,Average_Temperature_C,Total_Precipitation_mm,CO2_Emissions_MT,Crop_Yield_MT_per_HA,Extreme_Weather_Events,Irrigation_Access_%,Pesticide_Use_KG_per_HA,Fertilizer_Use_KG_per_HA,Soil_Health_Index,Economic_Impact_Million_USD
count,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000
mean,2007.055333,15.242330,1612.406231,15.247996,2.239041,4.967111,55.218140,25.027886,49.789878,64.942692,674.045610
std,10.067692,11.470811,805.682931,8.611049,0.997074,3.159294,25.965401,14.505403,28.732147,20.209407,414.380078
min,1990.000000,-4.990000,200.150000,0.500000,0.450000,0.000000,10.010000,0.000000,0.010000,30.020000,47.840000
25%,1998.750000,5.390000,925.837500,7.710000,1.450000,2.000000,32.780000,12.600000,25.220000,47.130000,350.730000
50%,2007.000000,15.160000,1611.160000,15.235000,2.170000,5.000000,55.030000,25.000000,49.345000,64.710000,583.875000
75%,2016.000000,25.380000,2310.980000,22.842500,2.930000,8.000000,77.550000,37.572500,74.680000,82.565000,918.752500
max,2024.000000,35.000000,2999.670000,30.000000,5.000000,10.000000,99.990000,49.990000,99.990000,100.000000,2346.470000

From this we can see the mean and standard deviation for each variable.